{
  "env": {
    "node": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@loadable/babel-plugin",
        "@babel/plugin-proposal-class-properties",
        // "./webpack/babel/plugin/no-require-css",
        "@babel/plugin-syntax-dynamic-import"
      ]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [">1%", "last 2 versions", "not ie <= 8"]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@loadable/babel-plugin",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [">1%", "last 2 versions", "not ie <= 8"]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@loadable/babel-plugin",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import"
      ]
    }
  }
}
